/* FONTS*/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ROOT */
:root {
  --portfolio-font: "Poppins", "Arial", sans-serif;
  --text-color: #999;
  --primary-color: #0059ff;
  --white-color: #fff;
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

::selection {
  background-color: #fff;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  background-color: #000;
  font-family: var(--portfolio-font);
  overflow-x: hidden;
  color: var(--white-color);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

/* MAIN */
.main-content {
  flex-grow: 1;
}

/* PRELOADER */

.preloader {
  position: fixed;
  background: rgb(23, 25, 29);
  background: linear-gradient(
    0deg,
    rgba(23, 25, 29, 1) 0%,
    rgba(40, 44, 52, 1) 27%
  );
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 14px 5px #0004;
  overflow: hidden;
  z-index: 99999999;
  transition: opacity 0.3s ease;
}

.elip1 {
  animation: rotate1 3s linear infinite;
}
.elip2 {
  animation: rotate2 3s linear infinite;
}
.elip3 {
  animation: rotate3 3s linear infinite;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader.shadow {
  bottom: -40px;
  opacity: 0.05;
  filter: blur(2px) contrast(80%);
}

.core {
  position: absolute;
  width: 40px;
  aspect-ratio: 1;
  background: #00d8ff;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px 1px #51b9cd, inset -1px -1px 5px 2px #85eafc;
}

.elip {
  position: absolute;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  border-top: 10px solid #00d8ff;
  border-left: 3px solid #00d8ff;
  border-right: 3px solid #00d8ff;
  box-shadow: 0px -4px 0px 0px #88e8f9, inset 0px 3px 0px 0px #1f7584;
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: 100px;
}

.elip1 {
  transform: rotatex(45deg) rotateY(50deg) rotateZ(0deg);
}
.elip2 {
  transform: rotatex(45deg) rotateY(-50deg) rotateZ(-90deg);
}
.elip3 {
  transform: rotatex(65deg) rotateZ(90deg);
}

@keyframes rotate1 {
  0% {
    transform: rotatex(45deg) rotateY(50deg) rotateZ(0deg);
  }
  100% {
    transform: rotatex(45deg) rotateY(50deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotatex(45deg) rotateY(-50deg) rotateZ(-90deg);
  }
  100% {
    transform: rotatex(45deg) rotateY(-50deg) rotateZ(270deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotatex(65deg) rotateZ(90deg);
  }
  100% {
    transform: rotatex(65deg) rotateZ(450deg);
  }
}

/* SITE-HEADER */
.site-header-hero-wrapper {
  background-image: url("../img/hero-bg.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header {
  height: 15vh;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
}

.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--white-color);
  text-decoration: none;
}

.dev {
  color: var(--primary-color);
}

.sitenav-list {
  list-style: none;
  display: flex;
  margin: 0;
}

.sitenav-item {
  position: relative;
}

.sitenav-item:not(:last-child) {
  margin-right: 30px;
}

.sitenav-item::after {
  position: absolute;
  height: 1px;
  width: 15px;
  background-color: var(--white-color);
  bottom: -5px;
  left: 0;
  transition: all 0.3s linear;
  content: "";
}

.sitenav-item:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

.sitenav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s linear;
  letter-spacing: 1.2px;
}

.sitenav-link:hover {
  color: var(--primary-color);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-size: 64px;
  margin: 0;
}

.hero-text {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: 300;
}

/* ABOUT */
.about {
  padding: 50px 0;
}

.about-container {
  display: flex;
}

.about-texts {
  width: 70%;
  padding: 30px 0;
}

.about-image {
  margin-right: 30px;
}

.about-section-image {
  width: 500px;
  height: 630px;
}

.about-title {
  font-size: 36px;
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-info {
  color: var(--text-color);
  font-weight: 400;
}

.about-me-list {
  list-style: none;
  padding: 0;
}

.about-me-info {
  font-size: 16px;
}

.about-me-icon {
  color: var(--primary-color);
}

.about-me-title {
  color: var(--primary-color);
}

.about-me-info {
  margin: 10px 0;
}

.skills-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.skills-item {
  margin-bottom: 50px;
}

.skill {
  font-size: 80px;
}

.fa-html5 {
  color: #d74824;
}

.fa-css3-alt {
  color: #1577b4;
}

.fa-sass {
  color: #c36292;
}

.fa-bootstrap {
  color: #6237ae;
}

.fa-github {
  transition: color 0.3s linear;
  color: #fff;
}

.fa-js {
  color: #e4d04b;
}

/* SERVICES */
.services {
  padding: 50px 0;
}

.services-text {
  text-align: center;
  margin-bottom: 30px;
}

.about-slog {
  color: var(--text-color);
}

.services-content {
  display: flex;
  justify-content: space-between;
}

.box-icon {
  border: 5px solid var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.3s linear;
}

.box-icon i {
  font-size: 32px;
}

.first-box {
  border: 5px solid var(--primary-color);
  width: 370px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.first-box:hover {
  background-color: var(--primary-color);
}

.first-box:hover .box-icon {
  border: 5px solid var(--white-color);
}

.box {
  padding: 16px;
}

.box-title {
  margin: 10px 0;
}

.box-info {
  font-size: 16px;
}

.services-content {
  margin-top: 1.5em;
}

.box-text {
  text-align: center;
}

/* WORKS */
.works {
  padding-bottom: 100px;
}

.works-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-box {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.works-box-image {
  display: block;
  width: 365px;
  height: 200px;
  transition: all 0.3s linear;
}

.works-box-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000000c0;
  opacity: 0;
  transition: all 0.3s linear;
}

.works-box-text:hover {
  opacity: 1;
}

.works-box-text-btn {
  text-decoration: none;
  padding: 10px 16px;
  transform: translateY(50px);
  color: var(--white-color);
  transition: all 0.3s linear;
}

.works-box:hover .works-box-image {
  transform: scale(1.2);
}

.works-box-text-btn:hover {
  color: var(--primary-color);
}

.works-box:hover .works-box-image {
  transform: scale(1.2);
}

.works-box:hover .works-box-text-btn {
  transform: translateY(0);
}

.works-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.works-btn {
  text-decoration: none;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 10px 20px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease;
}

.works-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 50% 50%;
  width: 100%;
  height: 0%;
  background-color: #3498db;
  z-index: -1;
  transition: height 0.4s ease;
}

.works-btn:active {
  transform: scale(0.9);
  opacity: 0.6;
}

.works-btn:hover::before {
  height: 180%;
}

/* CONTACT */
.contact-content {
  background-color: #f8f9fa;
  padding: 0;
  border-radius: 15px;
  width: 100%;
}

.contact-form {
  padding: 48px;
  display: flex;
  flex-direction: column;
}

.contact-form-input {
  border: 1px solid #ced4da;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  color: #000;
  outline: none;
  width: 100%;
}

.contact-form-input:focus {
  border: 1px solid #000;
}

.contact-form-input::placeholder {
  color: #737373;
}

.contact-form-textarea {
  min-height: 160px;
  resize: vertical;
}

.contact-form-btn {
  padding: 10px 30px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  transition: color 0.3s linear;
  text-decoration: none;
}

.contact-form-btn:hover {
  opacity: 0.8;
}

/* FOOTER */
.footer {
  padding: 20px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  list-style: none;
  display: flex;
  align-items: center;
}

#nav-check {
  display: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-social-link {
  font-size: 24px;
  transition: color 0.3s linear;
  color: var(--white-color);
}

.footer-social-link:hover {
  color: var(--primary-color);
}

.fa-github:hover {
  color: var(--primary-color);
}

.back-to-top {
  position: fixed;
  background: var(--primary-color);
  color: var(--white-color);
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
}

.back-to-top.active {
  bottom: 15px;
  pointer-events: auto;
  opacity: 1;
}

.nav-btn {
  cursor: pointer;
  display: none;
}

.nav-btn div {
  width: 30px;
  margin: 6px;
  height: 2px;
  background-color: var(--white-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-active {
  transform: translate(0) !important;
}

.footer-text-title {
  font-weight: 400;
}

/* RETINA BACKGROUND */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .site-header-hero-wrapper {
    background-image: url("../img/hero-bg@2x.jpg");
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  .container {
    width: 1040px;
  }
  .first-box {
    width: 300px;
  }
  .works-box-image {
    width: 320px;
    height: 180px;
  }
}

@media only screen and (max-width: 1060px) {
  .container {
    width: 940px;
  }
  .contact-content {
    display: block;
  }
  .contact-image {
    width: 100%;
  }
  .contact-texts {
    width: 100%;
  }
  .works-box-image {
    width: 440px;
    height: 240px;
  }
  .first-box {
    width: 420px;
    margin-bottom: 20px;
  }
  .services-content {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .hero-text {
    font-size: 24px;
    margin-top: 30px;
  }
  .hero-title {
    font-size: 48px;
  }
  .about-section-image {
    width: 700px;
    height: 670px;
  }
  .skill {
    font-size: 90px;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    width: 840px;
  }
  .first-box {
    width: 373px;
  }
  .works-box-image {
    width: 390px;
    height: 220px;
  }
  .sitenav-link {
    font-size: 14px;
  }
  .skill {
    font-size: 75px;
  }
  .skills-item {
    margin-bottom: 20px;
  }
  .skills-list {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 860px) {
  .container {
    width: 740px;
  }
  .first-box {
    width: 320px;
  }
  .works-box-image {
    width: 340px;
    height: 200px;
  }
  .about-container {
    display: block;
  }
  .about-section-image {
    width: 450px;
    height: 670px;
  }
  .about-image {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .about-texts {
    width: 100%;
  }
  .skill {
    font-size: 100px;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    width: 640px;
  }
  .first-box {
    width: 600px;
  }
  .works-box-image {
    width: 290px;
    height: 160px;
  }
  .skill {
    font-size: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 620px;
  }
  .sitenav {
    position: absolute;
    right: 0;
    transform: translateX(110%);
    width: 50%;
    background-color: #000000ed;
    top: 15vh;
    transition: transform 0.3s ease;
  }
  .sitenav-list {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-around;
    align-items: center;
  }
  .sitenav-item::after {
    width: 0;
    height: 0;
  }
  .nav-btn {
    display: block;
  }
  .toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line-2 {
    opacity: 0;
  }
  .toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .skill {
    font-size: 65px;
  }
  .works-box-image {
    width: 280px;
    height: 160px;
  }
  .about-slog {
    font-size: 16px;
  }
  .about-title {
    font-size: 36px;
  }
  .hero {
    height: 100vh;
  }
  .hero-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 540px;
  }
  .works-box-image {
    width: 500px;
    height: 280px;
  }
  .footer-social-link {
    font-size: 20px;
  }
  .footer-text-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    width: 440px;
  }
  .hero-text {
    font-size: 20px;
    margin-top: 20px;
  }
  .hero-title {
    font-size: 30px;
  }
  .about-section-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .works-box-image {
    width: 500px;
    height: 220px;
  }
  .contact-form {
    padding: 20px;
  }
  .skill {
    font-size: 55px;
  }
}

@media only screen and (max-width: 440px) {
  .container {
    width: 360px;
  }
  .works-box-image {
    width: 500px;
    height: 180px;
  }
  .about-info {
    font-size: 16px;
  }
  .about-me-info {
    font-size: 14px;
  }
  .skill {
    font-size: 45px;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    width: 300px;
  }
  .site-header-logo {
    font-size: 20px;
  }
  .hero-title {
    font-size: 24px;
  }
  .works-box-image {
    width: 500px;
    height: 150px;
  }
  .contact-form-input {
    font-size: 12px;
  }
  .contact-form-btn {
    font-size: 16px;
  }
  .footer-container {
    display: block;
  }
  .skill {
    font-size: 55px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-social-link {
    margin: 0;
    padding: 0;
  }
}
